*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  background-color: blue;
}

main{
  width:80%;
  margin: auto;
}

.restaurant{
  font-size: 50px;
  width: 90%;
  margin: 100px auto;
  text-align: center;
}

.restaurantimg{
  
}
